@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

.App{
    display: flex;
}

.hero-section{
    background-color: #caf0f8;
    width: 60vw;
    height: 100vh;
}

#hero{
    width: 100%;
}

.form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    overflow-y: hidden;
}

.title{
    font-size: 48px;
    font-weight: 800;
    margin: 30px 0px;
    align-self: center;
    color: #7209b7;
}

.subtitle{
    font-size: 18px;
    font-weight: 500;
    align-self: center;
    line-height: 26px;
    color: #adb5bd;
}

#sub{
    margin-bottom: 60px;
}

@media (max-width: 1085px){
    .hero-section{
        width: 100%;
    }
    #hero{
        height: 100vh;
    }
    .form-section{
        width: 100%;
    }
}

@media (max-width: 850px){
    .hero-section{
        display: none;
    }
}

@media (max-width: 425px){
   .form-section{
       display: block;
       margin: 0px 15px;
   }
   .title,
   .subtitle{
       text-align: center;
   }
   .subtitle{
       padding: 0px 20px;
   }
}